# Configuración de Flask
FLASK_APP=run.py
FLASK_DEBUG=1
SECRET_KEY=clave_super_secreta_para_sesiones

# Conexión a Base de Datos (Formato: mysql+pymysql://USUARIO:PASSWORD@HOST:PUERTO/NOMBRE_BD)
# Ajusta 'root', '123456' y 'sms' según tu configuración real de MySQL/XAMPP
DATABASE_URL=mysql+pymysql://root:@localhost/sms